/*will be removed*/
.under_const{
  border: 1px solid #5195FF;
  background: #5195FF;
  box-shadow: 0px 0px 10px 5px #51ECFF;
  border-radius: 20px;
  width:600px;
  height:400px;
  margin :150px auto;
  padding:20px;
  text-align: center;
  font-size: 19px;
  color:white;
}

.under_const h1{
  margin-top: 150px;
}
/*END - will be removed*/
[title="BackUp / Restore"]{
    background-color: #5195FF !important;
}
