{%extends "base.html"%}
{%block title%}Phonebook-About{%endblock%}
{%block css%}
  <link rel="stylesheet" href="static/css/about_page.css" type="text/css">
{%endblock%}

{%block result_area%}
<div class="under_const">
  <h2>Phone Book DataBase (PBD)</h2><hr>
  <p class="describe">PBD is a simple full feature phone book with serverless database [SQLite3] - This app is created for learning and practicing Web APPs programming.</p><hr>
  <p>Version : 0.1 (beta)</p>
  <p>License : Free and opensource / <a href="gpl3" target="_blank">GPL3</a></p>
  <p>Sourcecode : <a href="https://github.com" target="_blank">GitHub</a></p>
  <a href="/download">Download Whole Project Code</a>
  <p>Feel free to contact me : <span>khaled@mail.com</span>
</div>
{%endblock%}

{%block javascript%}
  <script type="text/javascript" src="static/js/about.js"></script>
{%endblock%}
