{%extends "base.html"%}
{%block title%}Phonebook-Edit{%endblock%}
{%block css%}
  <link rel="stylesheet" href="static/css/edit_page.css" type="text/css">
{%endblock%}

{%block result_area%}
<!--Filter Section -->
<div class="edit_block">
  <div id="filter_div" class="filter_div" >
    <label for="">Filter</label>
    <input id ="filter" type="text" name="filter" value="">
    <label for="">By</label>
    <input type="radio" name="filter_by" value="name" checked>
    <label for="">Name</label>
    <input type="radio" name="filter_by" value="phone_number">
    <label for="">Phone</label>
    <input type="radio" name="filter_by" value="email">
    <label for="">Email</label>
  </div>
  <div  class="flash_message_div">
    {% with messages = get_flashed_messages() %}
      {%if messages%}
        {%for msg in messages%}
          <h3 id="flash_message">{{msg}}</h3>
        {%endfor%}
      {%endif%}
    {% endwith %}
  </div>
  <div id="table_div" class="table_div">
    <table id="res_table">
      {%if result%}
        {%include 'include.html'%}
      {%endif%}
    </table>
  </div>
  <!--END - Filter Section -->

  <!--Edit Section -->
  <div id ="edit_section" class="edit_section" hidden>
    <form class="edit_form"  method="POST">
      <div class="edit_inputs">
        <label for="">Name<span>*</span></label>
        <input id="name_" type="text" name="name" value="" required placeholder="Name">
        <label for="">Nickname</label>
        <input id="nickname" type="text" name="nickname" value="" placeholder="Nickname"><br>
        <label for="">Phone Number<span>*</span></label>
        <input id="phone_number" type="text" name="phone_number" value="" required placeholder="01234567891">
        <label for="">Address</label>
        <input id="address" type="text" name="address" value="" placeholder="street , city , country .."><br>
        <label for="">Work</label>
        <input id="work" type="text" name="work" value="" placeholder="work place">
        <label for="">E-Mail</label>
        <input id="email" type="text" name="email" value="" placeholder="name@domain.com"><br>
        <label for="">Notes</label>
        <input id="notes" type="text" name="notes" value="" placeholder="notes about him">

        <label for="">Groups</label>
        <select id="group_list" class="" name="">

        </select><br>

        <input id="group_checkbox" type="checkbox" name="" value="">
        <label class="new_group_label" for="">New Group</label>
        <input id="group_text" type="text" name="new_group" value="" disabled placeholder="add new group" >
      </div>

      <div class="edit_controller">
        <input id="update_button" type="submit" name="" value="Update" >
        <button id="cancle_button" type="button" name="button">Cancle</button>
      </div>
      <input id="groups_rules" type="hidden" name="group" value="default">
      <input id="new_group_flag" type="hidden" name="new_group_flag" value="0 ">
      <input id="id_value" type="hidden" name="id_value" value="">
    </form>
  </div>
  <!--end Edit Section -->
</div>
{%endblock%}

{%block javascript%}
  <script type="text/javascript" src="static/js/edit.js"></script>
{%endblock%}
